:root {
    font-family: "Roboto", sans-serif;
    --app-primary-color: #bbc76e;
    --app-secondary-color: #FFFFFF;
    --app-dark-primary-color: #476242;
    --app-primary-text: #476242;
    --app-text: #FFFFFF;
    --app-accent: #6a864d;

    --matter-theme-rgb: 71,98,66; /* --dark-primary */
    --matter-primary-rgb: 187,199,110; /* --primary-color */
    --matter-onprimary-rgb: 255, 255, 255;
    --matter-onsurface-rgb: 175,18,34; /* --dark-primary */
}

*[hidden] {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

thead th {
    width: 30%;

}

thead th:nth-child(n+12) {
    width: 15%;
}

th,
td {
    padding: 5px;
    color: var(--app-dark-primary-color)
}

td {
    text-align: center;
}

h4,h5{
    color:var(--app-dark-primary-color);
}


.header-bar {
    width: 100%;
    background-color: var(--app-dark-primary-color);
    height: 20px;
}


.container {
    width: 100%;
    height: 100%;
}

.left-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.new-data-container {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.new-data-container[hidden] {
    display: none;
}

.title {
    background-color: var(--app-primary-color);
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    color: var(--app-primary-text);
}

.italic{
    font-style: italic;
}

.form-title{
    background-color: var(--app-accent);
    color: var(--app-text);
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.form{
    gap: 20px;
    margin-top: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-box{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    color: var(--app-primary-text);
}

.form-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.matter-textfield-outlined{
    width: 160px;
}

.center-text {
    text-align: center;
}

.margin-10 {
    margin: 10px;
}

.primary-scroll{
    scrollbar-color: var(--app-accent) var(--app-secondary-color);
    scrollbar-width: thin;
}

.primary-scroll::-webkit-scrollbar {
    width: 5px;
}

.primary-scroll::-webkit-scrollbar-thumb {
    background: var(--app-secondary-color); 
}

#btnContainer[hidden]{
    display: none;
}

label {
    margin-right: 10px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border-color:var(--app-primary-text);
    background: #ffffff;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#6a864d;
    cursor:pointer;
    font-size: 1em;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    border-radius: 0;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--app-accent);
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    color:white
 }
 .select:hover::after {
    color:  var(--app-primary-color);
 }

 #name{
    height: 30px;
    width: 250px;
 }

 .matter-button-contained{    
    min-width: 40px!important;
}
